<h4 class="mx-4 mb-4">いいね(お気に入り)一覧</h4>
 <div class="row justify-content-center align-items-center ">
  <% @favorites.each do |post_image|%>
  <div class="img-thumbnail shadow m-2 mr-2 ml-2"style="background-color: #fffafa;">
      <div class="mx-1">
        <%= link_to post_image_path(post_image), class: "text-dark nav-link" do %>
        <%= image_tag post_image.image, :size => '250', class: "border" %><br>
        <div class="post_title">
          <%= post_image.title.truncate(10) %>
        </div>
          <%= post_image.caption.truncate(12) %>
        <div style="background-color: #ffe4c4">
        <%= post_image.customer.pen_name %> さんちの<br>
        <%= image_tag post_image.customer.get_profile_image(30,30),class:"rounded-circle" %>
        <span class="pet_title">
          <%= post_image.customer.pet_name %>
        </span> ちゃん<br>
        <div class="view">
          <%= post_image.created_at.strftime('%Y/%m/%d') %>&nbsp;
          <i class="fas fa-eye"></i><%= post_image.view_counts.count %>&nbsp;
          <i class="fas fa-handshake"></i><%= post_image.customer.followers.count %>&nbsp;
          <i class="fas fa-comments"></i><%= post_image.post_comments.count %>&nbsp;
          <%= render "public/favorites/btn", post_image: post_image %>
        </div>
        </div>
        <% end %>
         </div>
        </div>
        <% end %>
        </div>
