<h1>マイページ</h1>
<!-- ユーザーの詳細 -->
<div>
  <h3><%= @customer.name %></h3>
  <%= image_tag @customer.get_profile_image(100,100) %>
  <% if @customer.id == current_customer.id %>
    <p><%= link_to "プロフィール編集",edit_customer_path(current_customer.id) %></p>
  <% end %>
</div>

<!-- ユーザーの投稿一覧 -->

<% @post_images.each do |post_image| %>
<div>
  <%= link_to post_image_path(post_image.id) do %>
    <%= image_tag post_image.get_image %>
  <% end %>
  <p>投稿ユーザー画像：<%= image_tag post_image.customer.get_profile_image(100,100) %></p>
  <p>タイトル：<%= post_image.title %></p>
  <p>説明：<%= post_image.caption %></p>
  <p>ユーザーネーム：<%= post_image.customer.pen_name %></p>
</div>
<% end %>