  <div class="container">
    <div class="row">
      <div class="col-5 px-0 mx-auto">
        <div class="mb-4">
        <h4>新規投稿フォーム</h4>
      </div>

      <div class="correct-msg-box">
        <% if @contact.errors.any? %>
          <div id="error_explanation">
            <ul><% @contact.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

      <%= form_with(model: @contact, local: true) do |f| %>
      <div class="correct-msg-main">
        <div class="contact-form">
            <div class="correct-text-field">
              <%= f.label "お名前" %>
              <%= f.text_field :name, placeholder: "お名前", class: "input-form" %>
            </div>
            <div class="correct-text-field">
              <%= f.label "お問合せ内容" %>
              <%= f.text_area :content, placeholder: "お問合せ内容を入力してください", class: "input-form" %>
            </div>
            <div class="send-btn-contents">
              <div class="register-btn text-right mb-5">
                <%= f.button type: "submit", class:"btn btn-success", style:'border-style: none;' do %>
                  送信 <i class="fas fa-paper-plane"></i>
                <% end %>
              </div>
            </div>
        </div>
      </div>
      </div>
      <% end %>
      </div>
    </div>
  </div>