<div class="row justify-content-center align-items-center ">
  <% post_images.each do |post_image|%>
  <div class="img-thumbnail shadow m-2 mr-2 ml-2"style="background-color: #fffafa;">
    <div class="mx-1">
      <%= link_to post_image_path(post_image), class: "text-dark nav-link" do %>
      <%= image_tag post_image.image, class: "border index-image"%><br>
        <div class="post_title">
          <%= post_image.title.truncate(10) %>
        </div>
          <%= post_image.caption.truncate(12) %>
        <div style="background-color: #ffe4c4">
          <% if post_image.customer.is_deleted == false %>
            <%= post_image.customer.pen_name %>さんちの
          <% else %>
            退会済みユーザー
          <% end %><br>
          <%= image_tag post_image.customer.get_profile_image(30,30),class:"rounded-circle" %>
          <% if post_image.customer.pet_name != nil %>
            <span class="pet_title">
              <%= post_image.customer.pet_name %>
            </span> ちゃん<br>
          <% else %>
            <span class="pet_title">○○
            </span>ちゃん<br>
          <% end %>
            <div class="view">
              <%= post_image.created_at.strftime('%Y/%m/%d') %>&nbsp;
                <i class="fas fa-eye"></i><%= post_image.view_counts.count %>&nbsp;
                <i class="fas fa-handshake"></i><%= post_image.customer.followers.count %>&nbsp;
                <i class="fas fa-comments"></i><%= post_image.post_comments.count %>&nbsp;
              <% if current_customer.name != "guestuser" %>
                <% if customer_signed_in? %>
                  <%= render "public/favorites/btn", post_image: post_image %>
                <% end %>
              <% else %>
                <i class="fas fa-heart"></i><%= post_image.favorites.count %>
              <% end %>
            </div>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>

  <div class="row">
    <div class="m-auto mt-3">
      <%= paginate post_images %>
    </div>
  </div>