<h3>投稿一覧</h3>

<% @post_images.each do |post_image| %>
<div>
  <%= link_to post_image_path(post_image.id) do %>
    <%= image_tag post_image.get_image, :size => '200' %>
  <% end %>
  <p>投稿ユーザー画像：<%= image_tag post_image.customer.get_profile_image(100,100),class:"rounded-circle" %></p>
  <p>タイトル：<%= post_image.title %></p>
  <p>説明：<%= post_image.caption.truncate(25) %></p>
  <p>ユーザーネーム：<%= post_image.customer.pen_name %></p>
  <p>ペットネーム：<%= post_image.customer.pet_name %></p>
  <p>コメント：<%= link_to "#{post_image.post_comments.count} コメント", post_image_path(post_image.id) %></p>
　<p>タグ一覧：<%= post_image.tags.map(&:name).join(', ') %></p>
　<p>ジャンル：<%= post_image.genre.name %></p>

</div>
<% end %>
<%= paginate @post_images %>

  <% if customer_signed_in? %>
  <h5 class="mx-3">ジャンル検索</h5>
  <div class="row justify-content align-items-center mx-5">
    <% @genres.each do |genre| %>
  <div class="mt-1 mr-2 text-dark">
    <%= link_to genre.name, genre_path(genre.id), class:"btn btn-info text-white"%>
  </div>
    <% end %>
  </div>

  <h5 class="mx-3">タグ検索<font size="3">(あいうえお順)</font></h4>
  <div class="row justify-content align-items-center mx-5 mb-3 ">
    <% @tag_list.each do |list|%>
      <% unless list.post_images.count == 0 %>
      <div class="mr-2 text-dark btn btn-outline-secondary">
        <%=link_to list.name,search_tag_path(tag_id: list.id), class:"ec-genre-list-item text-dark" %>
        <%="(#{list.post_images.count})" %>
      </div>
      <% end %>
    <% end %>
  </div>
<% end %>
