<div class="container">
<h5>タグが<%=@tag.name%>の投稿一覧</h5>

<% @tag_list.each do |list|%>
  <%=link_to list.name,search_tag_path(tag_id: list.id) %>
  <%="(#{list.post_images.count})" %>
<% end %>

<% @post_images.each do |post_image| %>
  <%= link_to post_image_path(post_image.id) do %>
    <%= image_tag post_image.get_image %>
  <% end %>
  <p>投稿ユーザー画像：<%= image_tag post_image.customer.get_profile_image(100,100) %></p>
  <p>タイトル：<%= post_image.title.truncate(25) %></p>
  <p>説明：<%= post_image.caption.truncate(25) %></p>
  <p>ユーザーネーム：<%= post_image.customer.pen_name %></p>

</div>
<% end %>


       <%= paginate @post_images %>

