<h1>show</h1>

<div>
  <%= image_tag @post_image.get_image %>
  <p>タイトル：<%= @post_image.title %></p>
  <p>説明：<%= @post_image.caption %></p>
  <p>投稿ユーザーペット画像：<%= image_tag @post_image.customer.get_profile_image(100,100)%></p>
  <p>ユーザーネーム：<%= @post_image.customer.pen_name %></p>
  <p>投稿日：<%= @post_image.created_at.strftime('%Y/%m/%d') %></p>
  <% if @post_image.customer == current_customer %>
    <%= link_to "削除", post_image_path(@post_image), method: :delete %>
  <% end %>
</div>