<h4 class="mx-4 mb-4">投稿詳細ページ</h4>
<div class='container'>
  <div class="row justify-content align-items-center mx-5">
    <% @post_tags.each do |tag| %>
    <div class="mr-2 text-dark btn btn-outline-secondary">
      <%= link_to tag.name,search_tag_path(tag_id: tag.id), class:"ec-genre-list-item text-dark"%>
     </div>
    <% end %>
    <% if @post_image.customer == current_customer %>
      <%= link_to "タグ編集", edit_post_image_path(@post_image.id) %>
    <% end %>
  </div>

  <div class='row justify-content-center align-items-center'>
    <div class="col-auto m-0 p-0">
    <div class="photo img-thumbnail shadow"style="background-color: #fffafa;">
    <%= image_tag @post_image.get_image, :size => '430'%>
  </div>
  </div>

  <div class='col-auto'>
  <div class="photo img-thumbnail shadow"style="background-color: #fffafa;">
    <div class="post_title">
      <%= @post_image.title %>
    </div>
      <%= @post_image.caption %>
    <div style="background-color: #ffe4c4">
      <% if @post_image.customer.is_deleted == false %>
        <%= @post_image.customer.pen_name %>&nbsp;さんちの
        <% else %>
        退会済みユーザー&nbsp;
        <% end %><br>
      <%= image_tag @post_image.customer.get_profile_image(100,100),class:"rounded-circle" %>
      <% if @post_image.customer.pet_name != nil %>
          <span class="pet_title">
            <%= @post_image.customer.pet_name %>
          </span> ちゃん<br>
        <% else %>
          <span class="pet_title">○○
          </span>ちゃん<br>
        <% end %>
      <div class="view">
          <%= @post_image.created_at.strftime('%Y/%m/%d') %>&nbsp;
          <i class="fas fa-eye"></i><%= @post_image.view_counts.count %>&nbsp;
          <i class="fas fa-handshake"></i><%= @post_image.customer.followers.count %>&nbsp;
          <i class="fas fa-comments"></i><%= @post_image.post_comments.count %>&nbsp;
          <% if current_customer.name != "guestuser" %>
          <% if customer_signed_in? %>
          <%= render "public/favorites/btn", post_image: @post_image %>
          <% end %>
          <% else %>
          <i class="fas fa-heart"></i><%= @post_image.favorites.count %>
          <% end %>
      </div>
      <div class="p-2 text-right">
        <% if @post_image.customer.is_deleted == false %>
          <%= link_to "会員詳細ページ" ,customer_path(@post_image.customer),class:"btn btn-secondary" %>
         <% end %>
        <% if @post_image.customer == current_customer %>
          <%= link_to "投稿を削除する", post_image_path(@post_image), method: :delete, class:"btn btn-danger " %>
        <% end %>
      </div>
    </div>
  </div>
 </div>
 </div>
<% if current_customer.name != "guestuser" %>
<% if @post_image.customer.is_deleted == false %>
 <div class="row justify-content-center align-items-center pt-3">
  <%= form_with model: [@post_image, @post_comment] do |f| %>
    <%= f.text_area :comment,:size=>"50x3", placeholder: "コメントはこちら" %>
    <%= f.submit "送信",class:"btn btn-sm btn-success" %>
  <% end %>
  </div>
  <% end %>
  <% end %>

  <div class="row justify-content-center align-items-center">
    <div class="back-postimage shadow m-1">
      <% @post_image.post_comments.each do |post_comment| %>
    <div class="col-auto m-3">
      <%= image_tag post_comment.customer.get_profile_image(100,100),class:"rounded-circle"  %>
      <% if post_comment.customer.is_deleted == false %>
        <%= post_comment.customer.pen_name %>&nbsp;さん
        <% else %>
        退会済みユーザー&nbsp;
        <% end %>
      <%= post_comment.created_at.strftime('%Y/%m/%d') %>
    <div class="comment m-1">
      <p><%= post_comment.comment %></p>
    </div>
      <div class="p-2 text-right">
        <% if post_comment.customer == current_customer %>
          <%= link_to "コメントを削除", post_image_post_comment_path(post_comment.post_image, post_comment), method: :delete, class:"btn btn-danger " %>
        <% end %>
      </div>
     </div>
        <% end %>
    </div>
  </div>
 </div>



