<div class="about-background">
<div class="container" style="background:rgba(255,140,0,0.6);">
<h4 class="mx-4 mb-4 pt-3">「ウチの子いちばん！」とは？</h4>
<div class="pet_title text-center">
 ペットの写真を投稿したり、ペットに関するお悩み相談ができるコミュニティサイトです。</strong>
</div>
<div class="row justify-content-center align-items-center">
<%= image_tag 'cat.jpg', class:'about-img' %>
<%= image_tag 'rabbit.jpg', class:'about-img' %>
<%= image_tag 'fish.jpg', class:'about-img' %>
</div>
<div class="text-center">
<ul style="list-style:none">
<font size="5">
<li><i class="fas fa-kiss-wink-heart"></i>世界で一番かわいいウチの子を自慢したい・・・</li>
<li><i class="far fa-grin-hearts"></i>色んなペットの投稿を見て癒されたい・・・</li>
<li><i class="fas fa-surprise"></i>ペットに関する悩みがあるから相談したい・・・</li>
</font>
</ul>
</div>
<div class="col-12">
 飼い主さんも、これから飼いたいと思っている人も、ペットや動物が好きな人も楽しくコミュニケーションができる、そんなサイトを目指しています。
</div>
<div class="row justify-content-center align-items-center">
<%= image_tag 'tokage.jpg', class:'about-img' %>
<%= image_tag 'bard.jpg', class:'about-img' %>
<%= image_tag 'dog.jpg', class:'about-img' %>
</div>
<div class="col-12">
お気に入りの投稿や相談を自分のマイページに保存できたり、それらの投稿物にコメントできたり、フォローし合えばチャットもできます。
検索機能を使用すれば会員、投稿、相談を個別に検索できます。
</div>
<br>
<div class="col-12 pb-5">
会員登録・ご利用は無料です。<br>
会員登録なしでもゲストログインを使用すれば、投稿や相談を閲覧可能です。
興味を持って頂けましたら、会員登録をしてぜひ「ウチの子いちばん！」をご利用下さい。
</div>
</div>