 <div class="top-image">
  <div class="about">
    <%= link_to "「ウチの子いちばん！」とは？", about_path, class: 'link text-dark' %>
  </div>

  <h4 class="text-center">ウチの子ベストショット！</h4>
    <div class="row justify-content-center align-items-center m-3">
    <% if @post_image != nil %>
      <% post_image = @post_image %>
      <div class="photo img-thumbnail shadow m-1"style="background-color: #fffafa;">
      <div class="mx-3">
        <%= link_to post_image_path(post_image), class: "text-dark nav-link" do %>
        <%= image_tag post_image.image, :size => '250', class: "border" %><br>
        <div class="post_title">
          <%= post_image.title.truncate(13) %>
        </div>
          <%= post_image.caption.truncate(17) %>
        <div style="background-color: #ffe4c4">
        <% if post_image.customer.is_deleted == false %>
          <%= post_image.customer.pen_name %>さんちの
        <% else %>
          退会済みユーザー
        <% end %><br>
        <%= image_tag post_image.customer.get_profile_image(30,30),class:"rounded-circle" %>
        <% if post_image.customer.pet_name != nil %>
          <span class="pet_title">
            <%= post_image.customer.pet_name %>
          </span> ちゃん<br>
        <% else %>
          <span class="pet_title">○○
          </span>ちゃん<br>
        <% end %>
        <div class="view">
          <%= post_image.created_at.strftime('%Y/%m/%d') %>&nbsp;
          <i class="fas fa-eye"></i><%= post_image.view_counts.count %>&nbsp;
          <i class="fas fa-handshake"></i><%= post_image.customer.followers.count %>&nbsp;
          <i class="fas fa-comments"></i><%= post_image.post_comments.count %>&nbsp;
          <i class="fas fa-heart"></i><%= post_image.favorites.count %>
        </div>
        </div>
        <% end %>
      </div>
      </div>
      <% end %>
    </div>
  </div>

    <h4 class="mx-4 mb-4">新着の投稿</h4>
    <div class="row justify-content-center align-items-center ">
      <% @post_images.last(4).reverse.each do |post_image|%>
      <div class="img-thumbnail shadow m-1 mr-3 ml-3"style="background-color: #fffafa;">
      <div class="mx-1">
        <%= link_to post_image_path(post_image), class: "text-dark nav-link" do %>
        <%= image_tag post_image.image, :size => '250', class: "border" %><br>
        <div class="post_title">
          <%= post_image.title.truncate(13) %>
        </div>
          <%= post_image.caption.truncate(17) %>
        <div style="background-color: #ffe4c4">
        <% if post_image.customer.is_deleted == false %>
        <%= post_image.customer.pen_name %>さんちの
        <% else %>
        退会済みユーザー
        <% end %><br>
        <%= image_tag post_image.customer.get_profile_image(30,30),class:"rounded-circle" %>
        <% if post_image.customer.pet_name != nil %>
          <span class="pet_title">
            <%= post_image.customer.pet_name %>
          </span> ちゃん<br>
        <% else %>
          <span class="pet_title">○○
          </span>ちゃん<br>
        <% end %>
        <div class="view">
          <%= post_image.created_at.strftime('%Y/%m/%d') %>&nbsp;
          <i class="fas fa-eye"></i><%= post_image.view_counts.count %>&nbsp;
          <i class="fas fa-handshake"></i><%= post_image.customer.followers.count %>&nbsp;
          <i class="fas fa-comments"></i><%= post_image.post_comments.count %>&nbsp;
         <i class="fas fa-heart"></i><%= post_image.favorites.count %>
        </div>
        </div>
        <% end %>
        </div>
        </div>
      <% end %>
    </div>

  <div class="row">
    <div class="m-auto mt-1 mr-5">
      <% if customer_signed_in? %>
      <%= link_to "新着投稿をもっと見る>", post_images_path, class:"nav-link text-dark" %>
      <% end %>
    </div>
  </div>


<h4 class="mx-4 mb-4">新着の相談</h4>
<div class="row justify-content-center align-items-center">
<div class="col-8">
<% @questions.each do |question| %>
<div class="img-thumbnail shadow ml-2 mr-2 mb-2"style="background-color: #fffafa;">
  <%= link_to question_path(question.id), class: "text-dark nav-link" do %>
  <i class="fas fa-question"></i><i class="fas fa-comment"></i>&nbsp;<span class="pet_title"><%= question.title %>
  </span><br>
  &nbsp;<%= question.caption.truncate(50) %><br>
  <%= image_tag question.customer.get_profile_image(50,50),class:"rounded-circle" %>
  <% if question.customer.is_deleted == false %>
    <%= question.customer.pen_name %>&nbsp;さんちの
  <% else %>
    退会済みユーザー
  <% end %>
  <% if question.customer.pet_name != nil %>
    <span class="pet_title">
      <%= question.customer.pet_name %>
    </span>ちゃん<br>
  <% else %>
    <span class="pet_title">○○
    </span>ちゃん<br>
  <% end %>
  <i class="fas fa-laugh"></i><%= question.question_comments.count %>
  <i class="fas fa-star"></i><%= question.question_favorites.count %>
  <% end %>
</div>
<% end %>
</div>
</div>

<div class="row">
    <div class="m-auto mt-1 mr-5">
      <% if customer_signed_in? %>
      <%= link_to "新着相談をもっと見る>", questions_path, class:"nav-link text-dark" %>
      <% end %>
    </div>
  </div>

  <% if customer_signed_in? %>
  <h5 class="mx-3">ジャンル検索</h5>
  <div class="row justify-content align-items-center mx-5">
    <% @genres.each do |genre| %>
  <div class="mt-1 mr-2 text-dark">
    <%= link_to genre.name, genre_path(genre.id), class:"btn btn-info text-white"%>
  </div>
    <% end %>
  </div>

  <h5 class="mx-3">タグ検索</h4>
  <div class="row justify-content align-items-center mx-5 mb-3 ">
    <% @tag_list.each do |list|%>
      <% unless list.post_images.count == 0 %>
      <div class="mr-2 text-dark">
        <%=link_to list.name,search_tag_path(tag_id: list.id), class:"ec-genre-list-item text-dark" %>
        <%="(#{list.post_images.count})" %>
      </div>
      <% end %>
    <% end %>
  </div>
<% end %>

