<div class="row justify-content-center align-items-center">
<div class="col-8">
<% questions.each do |question| %>
<div class="img-thumbnail shadow ml-2 mr-2 mb-2"style="background-color: #fffafa;">
  <%= link_to question_path(question.id), class: "text-dark nav-link" do %>
  <i class="fas fa-question"></i><i class="fas fa-comment"></i>&nbsp;<span class="pet_title"><%= question.title%>
  </span><br>
  &nbsp;<%= question.caption.truncate(50) %><br>
  <%= image_tag question.customer.get_profile_image(50,50),class:"rounded-circle" %>
  <% if question.customer.is_deleted == false %>
  <%= question.customer.pen_name %>さんちの
        <% else %>
        退会済みユーザー
        <% end %><br>
  <%= question.created_at.strftime('%Y/%m/%d') %>
  <i class="fas fa-laugh"></i><%= question.question_comments.count %>
  <i class="fas fa-star"></i><%= question.question_favorites.count %>
  <% end %>
</div>
<% end %>
</div>
</div>

<div class="row">
        <div class="m-auto mt-3">
          <%= paginate questions %>
        </div>
      </div>