<h1>相談投稿フォーム</h1>
  <%= form_with model: @question do |f| %>
    <h4>写真の貼付（任意）</h4>
      <%= f.file_field :q_image, accept: "image/*" %>
    <h4>相談のタイトル</h4>
      <%= f.text_field :q_title %>
    <h4>相談の本文</h4>
      <%= f.text_area :q_caption %>
    <%= f.submit '投稿' %>
  <% end %>