<h4 class="mx-4 mb-4">質問回答ページ</h4>
  <div class='container photo img-thumbnail'>
    <div class="row justify-content align-items-center ml-5 mt-2">
  <i class="fas fa-question"></i><i class="fas fa-comment"></i>
  &nbsp;<span class="pet_title"><font size="4"><%= @question.title %></font></span>
  </div>
  <div class="row justify-content-left align-items-center mx-5">
    <div class="col-6">
  <%= @question.caption %>
  </div>
    <div class="col-4 pr-3">
  <%= image_tag @question.get_q_image(250,250) %>
    </div>
  </div>
  <div class="row justify-content-left align-items-center mx-5">
    <div class="col-6">
    <%= image_tag @question.customer.get_profile_image(100,100),class:"rounded-circle"%><br>
    <%= @question.customer.pen_name %>&nbsp;さん
    <%= @question.created_at.strftime('%Y/%m/%d') %>
   </div>
   <div class="col-2">
   <%= render "public/question_favorites/btn", question: @question %>
   </div>
   <div class="col-3">
   <% if @question.customer == current_customer %>
    <%= link_to "質問を削除", question_path(@question), method: :delete, class:"btn btn-danger"%>
  <% end %>
  </div>
  </div>
  </div>

  <div class="row justify-content-center align-items-center pt-3">
  <%= form_with model: [@question, @question_comment] do |f| %>
    <%= f.text_area :comment,:size=>"50x3", placeholder: "回答をここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>

 <div class="row justify-content-center align-items-center">
    <div class="back-postimage shadow m-1">
    <% @question.question_comments.each do |question_comment| %>
    <div class="col-auto m-3">
    <%= image_tag question_comment.customer.get_profile_image(100,100),class:"rounded-circle" %>
    <%= question_comment.customer.pen_name %>
    <%= question_comment.created_at.strftime('%Y/%m/%d') %>
    <div class="comment m-1">
    <%= question_comment.comment %>
    </div>
      <div class="p-2 text-right">
    <% if question_comment.customer == current_customer %>
      <%= link_to "削除", question_question_comment_path(question_comment.question, question_comment), method: :delete, class:"btn btn-danger" %>
    <% end %>
     </div>
     </div>
  <% end %>
</div>
</div>
</div>