<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-7">
      <h4 id="room" data-room="<%= @room.id %>" data-user="<%= current_customer.id %>" class="row justify-content align-items-center ml-3"><%= @customer.pen_name %>&nbsp;さんとのチャット</h4>
        <table class="message table">
          <thead>
            <tr>
              <th class="text-lefts ml-3"><%= image_tag current_customer.get_profile_image(100,100),class:"rounded-circle" %><br>
                <%= current_customer.pen_name %></th>
              <th class="text-right mr-3"><%= image_tag @customer.get_profile_image(100,100),class:"rounded-circle" %><br>
                <%= @customer.pen_name %></th>
            </tr>
          </thead>
          <% @chats.each do |chat| %>
            <% if chat.customer_id == current_customer.id %>
              <tbody>
                <tr>
                  <th>
                    <div class="comment text-align: left;">
                      <font size="2">
                        <%= chat.created_at.strftime('%Y/%m/%d') %>
                      </font><br>
                        <%= chat.message %>
                      <% if chat.customer == current_customer %>
                        <%= link_to "削除", chat_path(chat), method: :delete, class:"btn btn-danger " %>
                      <% end %>
                    </div>
                  </th>
                  <th></th>
                  </tr>
                <% else %>
                  <tr>
                  <th></th>
                  <th>
                    <div class="comment text-align: right;">
                      <font size="2">
                        <%= chat.created_at.strftime('%Y/%m/%d') %>
                      </font><br>
                        <%= chat.message %>
                      <% if chat.customer == current_customer %>
                        <%= link_to "削除", chat_path(chat), method: :delete, class:"btn btn-danger " %>
                      <% end %>
                    </div>
                    </th>
                  </tr>
              </tbody>
              <% end %>
            <% end %>
        </table>
    </div>
  </div>
  <div class="row justify-content-center align-items-center">
    <%= form_with model: @chat do |f| %>
      <%= f.text_field :message,:size=>"40x2" %>
      <%= f.hidden_field :room_id %>
      <%= f.submit "送信", class:"btn btn-sm btn-success chat-btn mb-2" %>
    <% end %>
  </div>
</div>
