<!DOCTYPE html>
<html>
  <head>
    <title>PetCommunity</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application"%>
  </head>

  <body class="d-flex flex-column vh-100" style="background-color: #fff5ee;">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #ffa07a;">
        <div class="container">
          <a class="navbar-brand p-3" href="/"><%= image_tag('logo-white.png') %></a>
            <% if customer_signed_in? %>
              <p class = 'nav-link text-light'>ようこそ、<%= current_customer.pen_name %>さん</p>
            <% end %>
            <div><%= render 'public/searches/form' %></div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">

            <ul class="navbar-nav ml-auto">
              <% if admin_signed_in? %>
                <li class="text-right">
                  <%= link_to "ジャンル一覧", admin_genres_path, class: 'nav-link text-dark' %>
                </li>
                <li class="text-right">
                  <%= link_to "会員一覧", admin_customers_path, class: 'nav-link text-dark' %>
                </li>
                <li class="text-right">
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' %>
                </li>
              <% elsif customer_signed_in? %>
              <li class="text-right">
                <%= link_to post_images_path, class: 'nav-link text-dark' do %>
                  投稿一覧 <i class="fas fa-books"></i>
                <% end %>
              </li>
              <li class="text-right">
                <%= link_to customers_path, class: 'nav-link text-dark' do %>
                <i class="fas fa-dog"></i>  ペット一覧  <i class="fas fa-cat"></i>
                <% end %>
              </li>
              <li class="text-right">
                <%= link_to '投稿フォーム', new_post_image_path, class: 'nav-link text-dark' %>
              </li>
              <li class="text-right">
                <%= link_to 'マイページ', customer_path(current_customer.id), class: 'nav-link text-dark' %>
              </li>
              <li class="text-right">
                <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'nav-link text-dark' %>
              </li>
              <% else %>
              <li class="text-right">
                <%= link_to "新規登録", new_customer_registration_path, class: 'nav-link text-dark' %>
              </li>
              <li class="text-right">
                <%= link_to "ログイン", new_customer_session_path, class: 'nav-link text-dark' %>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="mb-auto">
    <%= yield %>
    </main>
    <footer class="bg-dark text-white pt-5 pb-4">
      <div class="container">
        <div class="row　no-gutters">
          <div class="col-md-4">
            <p>ウチのさいかわペットを自慢できるSNS</p>
            <%= image_tag('logo-white.png') %>
          </div>

        </div>
      </div>
    </footer>
  </body>
</html>
