<!DOCTYPE html>
<html>
  <head>
    <title>PetCommunity</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application"%>
  </head>

  <body>
    <header class="sticky-top border-bottom border-secondary border-3 mb-1 border border-warning">

      <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #ffa07a;">
        <div class="container">
          <a class="navbar-brand" href="/"><%= image_tag('logo-white.png') %></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
       <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">

            <ul class="navbar-nav ml-auto">
              <% if admin_signed_in? %>
                <li class="text-right">
                  <%= link_to "ジャンル一覧", admin_genres_path, class: 'nav-link text-dark' %>
                </li>
                <li class="text-right">
                  <%= link_to "会員一覧", admin_customers_path, class: 'nav-link text-dark' %>
                </li>
                <li class="text-right">
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' %>
                </li>
              <% elsif customer_signed_in? %>

              <li class="text-right">
                <%= link_to post_images_path, class: 'nav-link text-dark' do %>
                  投稿一覧&nbsp;<i class="fas fa-book"></i>
                <% end %>
              </li>
              <li class="text-right">
                <%= link_to customers_path, class: 'nav-link text-dark' do %>
                <i class="fas fa-dog"></i>&nbsp;会員＆ペット一覧&nbsp;<i class="fas fa-cat"></i>
                <% end %>
              </li>
              <li class="text-right">
                <%= link_to new_post_image_path, class: 'nav-link text-dark' do %>
                投稿フォーム&nbsp;<i class="fas fa-pen"></i>
                <% end %>
              </li>
              <li class="text-right">
                <%= link_to new_contact_path(current_customer.id), class: 'nav-link text-dark' do %>
                お問い合わせ&nbsp;<i class="fas fa-envelope"></i>
                <% end %>
              </li>
              <li class="text-right">
                <%= link_to destroy_customer_session_path, method: :delete, class: 'nav-link text-dark' do %>
                ログアウト&nbsp;<i class="fas fa-arrow-right"></i>
                <% end %>
              </li>
              <% else %>
              <li class="text-right">
                <%= link_to new_customer_registration_path, class: 'nav-link text-dark' do %>
                新規登録
                <% end %>
              </li>
              <li class="text-right">
                <%= link_to new_customer_session_path, class: 'nav-link text-dark' do %>
                ログイン
                <% end %>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
        <div class="seach">
          <div class="nav-item">
          <% if customer_signed_in? %>
          ようこそ、<span>
            <%= link_to customer_path(current_customer.id), class: 'btn btn-outline-danger btn-sm' do %>
                <%= current_customer.pen_name %><i class="fas fa-paw"></i>
            <% end %>
          </span>さん
          <% end %>
          </div>
        <%= render 'public/searches/form' %>
        </div>
    </header>
    <div class="notice">
      <%= flash[:notice] %>
    </div>
    <main>
    <%= yield %>
    </main>
    <footer class="bg-dark text-white pt-5 pb-4">
      <div class="container">
        <div class="row　no-gutters">
          <div class="col-md-4">
            <p>ウチのさいかわペットを自慢できるSNS</p>
            <%= image_tag('logo-white.png') %>
          </div>

        </div>
      </div>
    </footer>
  </body>
</html>
